<h4> List of Projects </h4>
{{#project}}
    <p> Project Name: {{name}}</p>
{{/project}}
<h4> Add a new Project <h4>
<form action="?" method="post">

    <div class="new-project">
        <label for="name">Enter a new Project Name here: </label>
        <input type="text" name="name" required>
    </div>
    <div class="new-Project">
        <input type="submit" value="Add!">
    </div>

</form>
