<h4> List of Projects </h4>
{{#project}}
    <p>===============================================</p>
        <p> Project ID {{id}} </p>
        <p> Project Name: {{name}}</p>
        <p> Project Desc: {{description}} </p>
        <p> Milestones {{milestones}} </p>
        {{#milestones}}
            <p>===============================================</p>
            <p> Milestone ID {{id}} </p>
            <p> Milestone Name: {{name}}</p>
            <p> Milestone Desc: {{description}} </p>
            <p>===============================================</p>
        {{/milestones}}
    <p>===============================================</p>
{{/project}}
<h4> List of Milestones </h4>
{{#milestone}}
        <p>===============================================</p>
        <p> Milestone ID {{id}} </p>
        <p> Milestone Name: {{name}}</p>
        <p> Milestone Desc: {{description}} </p>
        <p> Project ID: {{pid}} </p>
        <p>===============================================</p>
{{/milestone}}
<h4> Add a new Project <h4>
<form action="?" method="post">
    <div class="new-project">
        <label for="name">Enter a new Project Name here: </label>
        <input type="text" name="name" required>
        <br>
        <label for="name">Enter a new Project Desc here: </label>
        <input type="text" name="desc" required>
    </div>
    <div class="new-Project">
        <input type="submit" value="Add!">
    </div>

</form>