<!DOCTYPE html>
<html>
<head>
  <title>Web Development 2 - Project Website!</title>
</head>
<body>
      <!-- This is the Account Creation screen and below are the Username, Password fields and the Create Account button -->

    <div class="field">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div class="field">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div class="field">
        <button type="submit" id="createb">Create Account</button>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/JS/create.js"> </script>
  <h1> <%= message %> </h1>
  <p>Organise your projects and organise your life</P>
  
</body>
