<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web Development 2 - Project Website!</title>
</head>
<body>
    <h1> <%= message %> </h1>
    <p>Organise your projects and organise your life</P>
    <h2>projects</h2>
    <P><%= projects %></p>
</body>
